.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 2em; /* Adjust the size as needed */
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2); /* Gives a slight 3D effect */
  margin-bottom: 0.5em; /* Adjust the spacing between the title and the GIF */
}

.countdown {
  font-size: 1.5em;
  margin: 20px 0; /* This adds margin above and below the countdown timer */
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: white;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75em; /* Smaller font size for the buttons */
  
}

.btn:hover {
  background-color: #21a1f1;
}
img {
  margin-bottom: 20px; /* Adjust the value as needed */
}

/* or, alternatively */

.buttons {
  margin-top: 20px; /* Adjust the value as needed */
}
